@{
  Layout = "_Layout";
}

@model HairSalon.Models.Stylist
@using HairSalon.Models

<h2>Stylist Details:</h2>
<hr />
<h3>@Html.DisplayNameFor(model => model.Employee): @Html.DisplayFor(model => model.Employee)</h3>
<h5>@Html.DisplayNameFor(model => model.Details): @Html.DisplayFor(model => model.Details)</h5>

@if (@Model.Clients.Count == 0)
{
  <h3>No Stylists have been added!</h3>
} 
else
{
  <h3>Clients:</h3>
  <ul>
    @foreach (Client client in Model.Clients)
    {
      <li>@Html.ActionLink($"{client.Name}", "Details", "Clients", new { id = client.ClientId })</li>
    }
  </ul>
}

<p>@Html.ActionLink("Edit Category", "Edit", new { id = Model.Employee })</p>
<p>@Html.ActionLink("Delete Category", "Delete", new { id = Model.Employee })</p>
<p>@Html.ActionLink("Back to list", "Index")</p>
<p>@Html.ActionLink("Home", "Index", "Home")</p>
